.ab-sec1
    background-color: #1e4356
    color: white
    padding-top: 80px
    padding-bottom: 40px
.ab-sec2
    background-color: #ffffff
.main1-1
    padding-inline: 6vw
.rela
    position: relative
.play
    width: 60px
    height: 60px
    border-radius: 50%
    background-color: #68a4c4 
    position: absolute
    top: 34vh
    right: 20vw
    z-index: 2
   
.opacity
    width: 80px
    height: 80px
    border-radius: 50%
    background-color: #68a4c4
    opacity: 0.3
    position: absolute
    left:  27.5vw
.ab-sec3
    display: grid
    justify-content: center
    align-items: center
    gap: 20%
    grid-template-columns: repeat(4, auto)
    background-color: #f4f8fb
    padding: 7%
.car2-div1
    position: relative
    left: 44%
    margin-top: 25px
   

  

.car2-div1
    width: 10%
    text-align: center
.img-car
    border-radius: 50%
.tit1-carr
    font-size: 19px
    font-weight: 500
    margin-top: 10px
.pr1-carr
    font-size: 13px
    font-weight: 400
    margin-top: 10px
    color: #9c3535
    text-align: center
    padding-inline: 10%
    margin-bottom: 20px
.pr2-carr
    width: 60%
    margin-bottom: 20px
    position: relative
    left: 20%
    top: 10px
