.col-md-6
    border: 2px black solid


.row gy-4
    display: flex
    gap: 10px

.bi-activity
    color: red

.bi-broadcast
    color: green

.bi-easel
    color: orange

.bi-bounding-box-circles
    color: blue

a
        text-decoration: none

.col-md-6
    width: 300px
    height: 290px
    padding: 10px
    padding-left: 20px
    p
        text-align: center

.container
    gap: 30px